@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bahnschrift';
  src: local('Bahnschrift');
}

html, body {
  height: 100%;
  overflow-y: auto;
  font-family: 'Bahnschrift', system-ui, -apple-system, sans-serif;
}